@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    color: rgb(92, 70, 153)
}
body {
    background-color: rgba(243, 247, 255, 1);
    margin: 0;
}
.seperate-border {
    border-collapse: separate!important;
}
.shadowy {
    box-shadow: 0 3px 4px rgba(36, 48, 100, 0.589);
}